.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
}

.content {
    font-size: 20px;
    padding-top: 42px;
}

.subtitle {
    padding-top: 4px;
    font-size: 14px;
}

.content,.subtitle {
    font-family:AppleGothic;
    padding-left: 50px;
}

.item1 {
    background-color: #EFEFEF;
    display: flex;
}

.item2 {
    background-color: #ECECEC;
}

/* top row */
.item1, .item2 {
    height: 162px;
}

.item1item1 {
    padding-left: 45px;
    padding-top: 25px;
}

.item1item2 {
    font-family:AppleGothic;
    font-size: 64px;
    padding-left: 45px;
    align-self:center;
}

.item3 {
    display: grid;
    grid-template-columns: 105px auto;
}

.item3item1 {
    justify-self: end;
    padding-top: 35px;
}

.item4 {
    display: grid;
    grid-template-columns: 155px auto;
}

.item4item1{
    padding-top: 35px;
    justify-self: end;
    padding-left: 50px;
}

.item4item2text1 {
    font-family:AppleGothic;
    font-size: 20px;
    padding-top: 45px;
}

.item4item2text2 {
    font-family:AppleGothic;
    font-size: 20px;
    padding-top: 80px;
}

/* top row */
.item3, .item4 {
    height: 317px;
}